# macOS system files
.DS_Store
**/.DS_Store

# Directories to ignore
.antlr/
lib/
parseTrees/
sampleParseTrees/

# Specific files to ignore
project-part1.txt
singleprint.fwjs
CS252-TanayGodse-solution.zip
build/
generatedSrc/
input.txt
solution/
